<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="index.html">
        <system.webServer>
            <httpProtocol>
                <customHeaders>
                    <add name="Cache-Control" value="no-cache" />
                </customHeaders>
            </httpProtocol>
        </system.webServer>
    </location>
</configuration>